.nav {
  background-color: #222;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;

  & .nav__links {
    display: flex;
    align-items: center;
    gap: 0.85rem;

    & .nav__links_home {
      font-size: 1rem;
      text-transform: capitalize;
    }

    & span {
      display: block;
      color: #999;
    }

    & a {
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      font-size: 0.85rem;

      &:hover {
        color: #ddd;
        text-decoration: underline;
      }
    }
  }

  & .nav__pages {
    display: flex;
    align-items: center;
  }
}
