.list {
  max-width: 1000px;
  margin: 0 auto;
  list-style: none;

  & li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;

    & .list__number {
      width: 3rem;
      margin: 0 0.5rem 0 0;
      text-align: right;

      & span {
        font-size: 2.5rem;
        font-weight: 200;
        color: #777;
      }
    }

    & .list__data {
      color: #fff;

      & a {
        font-weight: 500;
        margin: 0 0.5em 0 0;
        font-size: 1.1rem;

        &:hover {
          color: #eee;
          text-decoration: underline;
        }

        & span {
          color: #aaa;
          font-weight: 400;
        }
      }

      & .list__info {
        display: flex;
        gap: 0.75rem;
        margin: 0.75rem 0 0 0;
        color: #999;

        & .list__info_label {
          display: flex;
          align-items: center;
          justify-content: center;

          & svg {
            fill: #999;
            width: 1rem;
            height: 1rem;
            margin: 0 0.25rem 0 0;
          }

          & span {
            font-size: 0.85rem;
          }
        }
      }
    }
  }
}
