.list {
  max-width: 1000px;
  margin: 0 auto;
  list-style: none;

  & li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;

    & .top__number {
      width: 3rem;
      margin: 0 0.5rem 0 0;
      text-align: right;

      & span {
        font-size: 2.5rem;
        font-weight: 200;
        color: #777;
      }
    }

    & .top__data {
      color: #fff;

      & a {
        font-weight: 500;
        margin: 0 0.5em 0 0;
        font-size: 1.1rem;

        &:hover {
          color: #eee;
          text-decoration: underline;
        }

        & span {
          color: #aaa;
          font-weight: 400;
        }
      }

      & p {
        margin: 0.5rem 0 0 0;
        color: #999;
      }
    }
  }
}
